In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
inputs = df.drop("salary_more_then_100k",axis='columns')

In [6]:
target = df['salary_more_then_100k']

In [7]:
from sklearn.preprocessing import LabelEncoder

#perform label encoding 
df[['company_n', 'job_n' , 'degree_n']] = df[['company', 'job' , 'degree']].apply(LabelEncoder().fit_transform)

In [8]:
df

,company,job,degree,salary_more_then_100k,company_n,job_n,degree_n
0,google,sales executive,bachelors,0,2,2,0
1,google,sales executive,masters,0,2,2,1
2,google,business manager,bachelors,1,2,0,0
3,google,business manager,masters,1,2,0,1
4,google,computer programmer,bachelors,0,2,1,0
5,google,computer programmer,masters,1,2,1,1
6,abc pharma,sales executive,masters,0,0,2,1
7,abc pharma,computer programmer,bachelors,0,0,1,0
8,abc pharma,business manager,bachelors,0,0,0,0
9,abc pharma,business manager,masters,1,0,0,1
10,facebook,sales executive,bachelors,1,1,2,0
11,facebook,sales executive,masters,1,1,2,1
12,facebook,business manager,bachelors,1,1,0,0
13,facebook,business manager,masters,1,1,0,1
14,facebook,computer programmer,bachelors,1,1,1,0
15,facebook,computer programmer,masters,1,1,1,1

In [9]:
input = df.drop(['company','job','degree','salary_more_then_100k'],axis=1)

In [10]:
input

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [11]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [12]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [13]:
model.fit(input, target)

DecisionTreeClassifier()

In [14]:
model.score(input,target)

1.0

#### Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?

In [15]:
model.predict([[2,2,1]])

C:\Users\mskum\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

#### Is salary of Google, Computer Engineer, Masters degree > 100 k ?

In [16]:
model.predict([[2,1,1]])

C:\Users\mskum\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [17]:
from sklearn.tree import plot_tree

In [21]:
import matplotlib.pyplot as plt
plt.figure("DecisionTree",figsize=[25,6])
plot_tree(model,fontsize=10,filled=3,feature_names=inputs.columns,class_names=target)
plt.show()

InvalidParameterError: The 'feature_names' parameter of plot_tree must be an instance of 'list' or None. Got Index(['company', 'job', 'degree'], dtype='object') instead.